.main-page {
    margin: 0;
    padding: 0;
    width: 100%;
}

.gradient-background {
    background: linear-gradient(135deg, #8c5d1f, #f4bb15, #da5a5e, #7c2c4e);
    background-size: 240% 240%;
    animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}